*{
  margin: 0px;
  padding: 0px;
}
.App{
  width: 100vw;
  height: 100vh;
}

.weather{
  width: 100%;
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV8iIKvwxZMkC5T9pjW803tldEomZyhse6fw&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.weather-wrap{
text-align: center;
}

.sel_text{
  padding: 10px;
  margin-bottom: 50px;
  color: white;
}
select{
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 288px;
  padding: 10px;
}
select:focus {
  outline: none;
}
option{
  font-size: 14px;
  font-weight: 500;
}

